pydantic-settings
langchain
langchain-text-splitters
langchain-openai
langchain-community
langchain-chroma
chromadb
faiss-cpu
pypdf
python-dotenv
tiktoken
notebook
ipykernel
sqlalchemy
pymysql
aiomysql
asyncpg
beautifulsoup4
fastapi
uvicorn
scikit-learn
numpy
pandas
redis
langsmith[openai-agents]
opencv-python
langchain-ollama
markdownify
